
body{
background-image: linear-gradient(rgb(12, 52, 226),rgb(62, 225, 247));
background-repeat: no-repeat;
font-family: sans-serif;
background-size: auto;
}

.laatikko{
width: 300px;    
background-color: rgb(157, 203, 235);   
display: block;
margin: 0 auto;   
border-radius: 10px;
padding-bottom : 50px;
}

.otsikko{
width: 300px;
height: 110px;
border-radius: 10px 10px 0 0;
}

.otsikko p{
text-align: center;
padding: 15px;
margin: 0 auto;
font-size: 1.2em;
color: #010208;
}

.ilmoitus{
background-color: #49b1ee;
display: none;
}

.ilmoitus p{
color: #721c24;
font-size: 1.2em;
margin: 0;
text-align: center;
padding: 10px 0;
}

.sääRuutu{
width: 300px;
height: 260px;
background-color: rgb(129, 185, 218);
}

.sääIkonit{
width: 300px;
height: 128px;
}

.sääIkonit img{
display: block;
margin: 0 auto;
}

.lämpöAsteet{
width: 300px;
height:60px;
}

.lämpöAsteet p{
padding: 0;
margin: 0;
color: #02040a;
font-size: 4em;
text-align: center;
cursor: pointer;
}

.lämpöAsteet span{
color: #010308;
font-size: 0.5em;
}

.lämpötilanSelitys p{
padding: 8px;
margin: 0;
color: #010103;
text-align: center;
font-size: 1.2em;
}

.paikkakunta p{
margin: 0;
padding: 0;
color: #010205;
text-align: center;
font-size: 0.8em;
}